/* You can add global styles to this file, and also import other style files */
@use '@angular/cdk';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.product-card {
  max-width: 300px;
  height: 100%;
  cursor: pointer;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mat-mdc-text-field-wrapper {
  background-color: white;
}


// Set custom autofill inputs to have no background and red text.
input {
  @include cdk.text-field-autofill-color(transparent, black);
}
